body {
    background-color: #E5E5E5;
    font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0 30px 0 30px;
}
